<!DOCTYPE html>
<html lang="sv">
	<head>
		<%- include('partials/head-conts') %>
	</head>

	<body>
		<%- include('partials/navbar') %>
   		
		<div class="container p-my-6">

			<span>Start &gt; Djur &gt; Spara skällning</span>
		</div> 

		<div class="container p-my-6">
			
			<h3>Registrera en skällning</h3>
			<form method="post" action="/pets/bark" class="mb-3">
				<div class="row">
					<div class="col-lg-4">
						<div class="form-group mb-3">
    							<label for="barkee">Hund som skällde</label>
    							<input list="barkees" class="form-control" id="barkee" name="barkee" required placeholder="Ange vem det var som skällde">
							<datalist id="barkees">
								<option value="Ludde">
								<option value="Higgins">
								<option value="Castor">
							</datalist>
  						</div>
  					</div>
  					<div class="col-lg-2">
						<div class="form-group mb-3">
    							<label for="barkTime">Tid</label>
    							<input type="time" class="form-control" id="barkTime" name="barkTime">
	 			 		</div>
	 			 	</div>
  					<div class="col-lg-2">
						<div class="form-group mb-3">
    							<label for="barkDate">Dag</label>
    							<input type="date" class="form-control" id="barkDate" name="barkDate">
	 			 		</div>
	 			 	</div>
  					<div class="col-lg-4">
						<div class="form-group mb-3">
    							<label for="barkNote">Information</label>
    							<input type="text" class="form-control" id="barkNote" name="barkNote" placeholder="Mer utförlig info kring händelsen">
	 			 		</div>
	 			 	</div>
	 			</div>
				<div class="row">
					<div class="container">
  					<button type="submit" class="btn btn-primary">Spara</button>
  					<a href="/pets" class="btn btn-secondary">Avbryt</a>
	 			 </div>
			</form>
		</div>
		<%- include('partials/footer') %>
	</body>
</html>

