
<!DOCTYPE html>
<html lang="sv">
	<head>
		<title>Netz App - Registrera skall</title>
		<%- include('partials/head-conts') %>
	</head>

	<body>
		<%- include('partials/navbar') %>
		<main class="container">
			<div class="text-center">
				<h1>Välkommen till Netz Appen!</h1>
			</div>
		</main>

		<%- include('partials/footer') %>

	</body>
</html>

