
<!DOCTYPE html>
<html lang="sv">
	<head>
		<title>Netz App - Registrera skall</title>
		<%- include('partials/head-conts') %>
	</head>

	<body>
		<%- include('partials/navbar') %>
		<main class="container">
			<div class="text-center">
				<h1>Välkommen till Netz Appen!</h1>
			</div>

			<div class="card">
  				<div class="card-header">
    					Quote
  				</div>
  				<div class="card-body">
    					<blockquote class="blockquote mb-0">
      						<p>Världens bästa familj på hela vida webben..</p>
      						<footer class="blockquote-footer">Markus från <cite title="säker källa">säker källa</cite></footer>
					</blockquote>
				</div>
			</div>


		</main>

		<%- include('partials/footer') %>

	</body>
</html>

