
<!DOCTYPE html>
<html lang="sv">
	<head>
		<title>Netz App - Registrera skall</title>
		<%- include('partials/head-conts') %>
	</head>

	<body>
		<%- include('partials/navbar') %>
		<main class="container">
			<h1>Sk채llningar</h1>

			<div class="row">
				<div class="col-md-6">
					Titelv채rde fr책n res.render: <%= data.msg %>
				</div>
				<div class="col-md-6">
					<img source="public/rottweiler.jpg" />
				</div>
			</div>	

			<div class="row">
				<h3>Lista sparade</h3>

				<div class="col-md-6">
					<a href="/pets/bark-list">Visa senaste sk채llningar</a>
				</div>
			</div>

		</main>

		<%- include('partials/footer') %>
	</body>
</html>

