
<!DOCTYPE html>
<html lang="sv">
	<head>
		<%- include('partials/head-conts') %>
	</head>

	<body>
		<%- include('partials/navbar') %>

		<div class="container">
			<span>Start &gt; Fordon</span>
		</div>
	
		<div class="container">
			<div class="row">
				<h1>Fordon</h1>
			</div>

		</div>

		<div class="container">
			<div class="card">
  				<h5 class="card-header">Ulrikas examensbil! :)</h5>
  				<div class="card-body">
    					<h5 class="card-title">Brum brum brum...</h5>
    					<p class="card-text">
						<%=wishlistCar %>
					</p>
  				</div>
			</div>
		</div>

		<div class="container">
			<div class="card">
  				<h5 class="card-header">Fordonslista</h5>
  				<div class="card-body">
    					<h5 class="card-title">Brum brum brum...</h5>
    					<p class="card-text">H채r nedan kan man v채lja att g책 till att se alla fordon eller att l채gga till nya.</p>
    					<a href="/vehicles/list" class="btn btn-primary">Visa komplett fordonslista</a>
  				</div>
			</div>
		</div>

		<%- include('partials/footer') %>

	</body>
</html>

